:root {
  --body-bg-color: #22212C;
  --text-color: #bcb8d1;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 16px;
}

body {
  background: var(--body-bg-color);
}

main {
  display: flex;
  flex-direction: row;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0 0 2.5rem;
}

.profile {
  width: 21.75rem;
  height: 18.25rem;
  background: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.875rem;
}

#profileImage img {
  width: 8rem;
  height: 8rem;
  border: 2px solid #00FF00;
  box-sizing: border-box;
  border-radius: 50%;
}

#profileText {
  text-align: center;
  margin-top: 1.875rem;
}

#profileText h2{
  font-weight: bold;
  font-size: 1.4375rem;
  line-height: 1.8125rem;
  color: var(--text-color);

  margin-bottom: .625rem;
}

#profileText p{
  font-weight: 300;
  font-size: .8125rem;
  line-height: 1rem;
  color: var(--text-color);
}

.link {
  width: 21.75rem;
  height: 18.75rem;
  background: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 1.875rem;
}

.linkContainer,
.expContainer,
.eduContainer {
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
}

.linkContainer a {
  text-decoration: none;
}

.linkContainer p {
  font-weight: normal;
  font-size: .8125rem;
  line-height: 1rem;
  color: var(--text-color);
  margin-left: 1.25rem;
}

.linkContainer img {
  width: 1.5rem;
  height: 1.5rem;
}

.link-email,
.link-linkedin,
.link-github,
.link-work,
.link-location {
  display: flex;
  align-items: center;
}

.link-linkedin,
.link-github,
.link-work,
.link-location {
  margin-bottom: 1.25rem;
}

.technologies {
  width: 21.75rem;
  height: 208px;
  background: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 1.875rem;
}

.technologies h2,
.experiences h2,
.education h2 {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  color: var(--text-color);
  margin: 1.875rem 0 0 1.25rem;
}

.techContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.25rem;
}

.techOne,
.techTwo,
.techTree {
  display: flex;
  justify-content: center;
}

.techs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .46875rem;

  width: 5.375rem;
  height: 1.5rem;
  background: var(--bg-techs);
  border-radius: 30px;
}

.techs p {
  font-weight: bold;
  font-size: .625rem;
  line-height: .8125rem;
  text-align: center;
}

.experiences {
  width: 21.75rem;
  height: 17.5rem;
  background: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 1.875rem;
}

.expContainer,
.eduContainer {
  margin-top: 1.25rem;
}

.exp,
.edu {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}

.expCompany,
.eduCourse {
  display: flex;
  align-items: center;
}

.circle {
  width: .3125rem;
  height: .3125rem;
  border-radius: 50%;
  background: var(--text-color);
  margin-right: 10px;
}

.expCompany h3,
.eduCourse h3 {
  font-weight: bold;
  font-size: .875rem;
  line-height: 1.125rem;
  color: var(--text-color);
}

.expYear,
.eduYear {
  font-weight: 300;
  font-size: .75rem;
  line-height: .9375rem;
  margin-left: .9375rem;
  color: var(--text-color);
}

.expProfession,
.eduSchool {
  font-weight: normal;
  font-size: .75rem;
  line-height: 15px;
  margin-left: 15px;
  color: var(--text-color);
}

.education {
  width: 21.75rem;
  height: 18.75rem;
  background: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 1.875rem;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0 0 3.75rem;
}

.myProjects {
  width: 53.25rem;
  height: 5.375rem;
  background: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1.875rem;
}

.myProjectsContainer {
  width: 49.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myProjectsContainer h2 {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  color: var(--text-color);
}

.myProjectsContainer a {
  text-decoration: none;
  font-weight: normal;
  font-size: .875rem;
  line-height: 1.125rem;
  color: var(--text-color);
}

.reposContainer {
  width: 25.90625rem;
  height: 5.375rem;
  display: grid;
  grid-template-columns: 25.90625rem 25.90625rem;
  grid-template-rows: auto;
  gap: .8125rem 1.4375rem;
}

.reposContainer a {
  text-decoration: none;
}

.repo {
  width: 25.90625rem;
  height: 11.625rem;
  background: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.repoLineOne,
.repoLineTwo,
.repoLineTree {
  display: flex;
  flex-direction: row;
  margin-left: 1.875rem;
}

.repoLineOne img,
.gitStar img,
.gitBranch img {
  width: 1.25rem;
  height: 1.25rem;
}

.repoLineOne h2 {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--text-color);
  margin:0 0 1.375rem 1rem;
}

.repoLineTwo p {
  font-weight: normal;
  font-size: .875rem;
  line-height: 1.25rem;
  color: var(--text-color);
  margin-bottom: 2.3125rem;
}

.repoGit {
  display: flex;
}

.gitStar,
.gitBranch {
  display: flex;
}

.gitStar p,
.gitBranch p {
  font-weight: normal;
  font-size: .875rem;
  line-height: 1.25rem;
  color: var(--text-color);
  margin:0 .3125rem 0 .3125rem;
}

.repoLanguage {
  display: flex;
  align-items: center;
  margin-left: 9.375rem;
}

.repoLanguage p {
  font-weight: normal;
  font-size: .875rem;
  line-height: 1.125rem;
  color: var(--text-color);
  margin-left: .5rem;
}

.circleLanguage {
  width: .9375rem;
  height: .9375rem;
  background: #E7DE79;
  border: 2px solid var(--text-color);
  box-sizing: border-box;
  border-radius: 100%;
}

footer {
  text-align: center;
  margin-bottom: 1.25rem;
}

footer p,
footer a {
  font-weight: normal;
  font-size: .875rem;
  line-height: 1.25rem;
  color: var(--text-color);
}

footer a {
  text-decoration: none;
}